body {
    background-color: #eee;
    color: #000;
    height: 100vh;
}

h1 {
    margin-top: 0px;
}

button, input, select {
    border-radius: 10px !important;
}

.uk-navbar-nav > li > a {
    font-size: 14pt;
}


.sc-container-padding {
    padding-left: 15px;
    padding-right: 15px;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background-color: #000;
    color: #fff;
}


nav#header a {
    color: aqua;
}